<!DOCTYPE html>
<html lang="en">
<head>
  <title><%= htmlWebpackPlugin.options.title %></title>
  <meta charset="UTF-8">
</head>
<body>
  <div class="keyboard">
    <h1>WebNoise-2000</h1>
    <div class="keys">
      <button class="key" data-note="C3">C3</button>
      <button class="key key--sharp">C#</button>
      <button class="key" data-note="D3">D3</button>
      <button class="key key--sharp">D#</button>
      <button class="key" data-note="E3">E3</button>
      <button class="key" data-note="F3">F3</button>
      <button class="key key--sharp">F#</button>
      <button class="key" data-note="G3">G3</button>
      <button class="key key--sharp">G#</button>
      <button class="key" data-note="A3">A3</button>
      <button class="key key--sharp">A#</button>
      <button class="key" data-note="B3">B3</button>

      <button class="key" data-note="C4">C4</button>
      <button class="key key--sharp">C#</button>
      <button class="key" data-note="D4">D4</button>
      <button class="key key--sharp">D#</button>
      <button class="key" data-note="E4">E4</button>
      <button class="key" data-note="F4">F4</button>
      <button class="key key--sharp">F#</button>
      <button class="key" data-note="G4">G4</button>
      <button class="key key--sharp">G#</button>
      <button class="key" data-note="A4">A4</button>
      <button class="key key--sharp">A#</button>
      <button class="key" data-note="B4">B4</button>
    </div>
  </div>
</body>
</html>