<!DOCTYPE html>
<html lang="en">
<head>
  <title><%= htmlWebpackPlugin.options.title %></title>
  <meta charset="UTF-8">
</head>
<body>
  <div class="keyboard">
    <h1>WebNoise-2000</h1>
    <div class="keys">
      <button class="key">C</button>
      <button class="key key--sharp">C#</button>
      <button class="key">D</button>
      <button class="key key--sharp">D#</button>
      <button class="key">E</button>
      <button class="key">F</button>
      <button class="key key--sharp">F#</button>
      <button class="key">G</button>
      <button class="key key--sharp">G#</button>
      <button class="key">A</button>
      <button class="key key--sharp">A#</button>
      <button class="key">B</button>

      <button class="key">C</button>
      <button class="key key--sharp">C#</button>
      <button class="key">D</button>
      <button class="key key--sharp">D#</button>
      <button class="key">E</button>
      <button class="key">F</button>
      <button class="key key--sharp">F#</button>
      <button class="key">G</button>
      <button class="key key--sharp">G#</button>
      <button class="key">A</button>
      <button class="key key--sharp">A#</button>
      <button class="key">B</button>
    </div>
  </div>
</body>
</html>