.keyboard {
  background-color: slategrey;
  display: flex;
  flex-wrap: wrap;
  font-family: Impact, Helvetica, sans-serif;
  text-align: center;

  .modifiers {
    width: 100%;
    display: flex;
    padding: 1em;
    letter-spacing: 0.125em;

    .envelope {
      width: 20%;

      input[type="range"] {
        padding: 0;
        margin: 0;
        width: 100%;
      }
    }
  }

  .keys {
    display: flex;
    width: 100%;

    .key {
      border: none;
      border-left: 1px solid lightgrey;
      height: 250px;
      flex-grow: 1;
      background-color: whitesmoke;
      color: black;

      &--sharp {
        background-color: black;
        color: ivory;
      }
    }
  }
}